@import "~@_styles";

.OBJECTS_HUB_PAGE {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
}

.SECTION_GALLERY {
  width: 100%;
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
}

.FILTERED_OBJECTS_LIST {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .CategorySection {
    width: 100%;
    background-color: rgba(black, 0.1);

    .SectionHeader {
      width: 100%;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr auto auto;
      align-items: center;
      border-radius: 0.15em;
      padding: 0.5em;
      background-color: rgba(black, 0.1);
      gap: 1em;
      transition: background-color 0.1s ease-out;
      cursor: pointer;

      &:hover {
        background-color: rgba(white, 0.05);
      }

      >p {
        margin: 0;
        user-select: none;
      }

      >p:nth-of-type(1) {
        justify-self: start;
      }

      >p:nth-of-type(2),
      >p:nth-of-type(3) {
        justify-self: end;
      }
    }

    .SectionContent {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      border-radius: 0.15em;
      padding: 0.4em 0.25em;
      gap: 0.5em;

      >a {
        width: 100%;
        color: #AAA;
        text-decoration: none;

        .SectionItem {
          padding: 0.4em 0.5em;
          outline: 0.1em solid transparent;
          background-color: rgba(white, 0.1);
          transition: outline-color 0.1s ease-out, background-color 0.1s ease-out;

          &:hover {
            outline-color: rgba(white, 0.4);
            background-color: rgba(white, 0.2);
          }
        }
      }

      >.SectionItem {
        font-size: 0.9em;
        padding: 0.15em 0.4em;
        background-color: rgba(black, 0.2);
      }

      .SectionItem {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-items: center;
        border-radius: 0.05em;
        gap: 0.5em;

        >p {
          margin: 0;
        }
      }
    }
  }
}

.HUB_UNIT {
  width: 100%;
  grid-area: var(--grid-area);
  background-color: rgba(var(--element-color), 0.2);
  outline: 0 solid transparent;
  transition: outline 100ms ease-in-out;

  &:hover:not(.NoData) {
    outline: 0.1em solid rgba(var(--element-color), 0.75);
  }

  &.NoData {
    filter: grayscale(1);
    pointer-events: none;
    user-select: none;
  }

  .UnitData {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      box-sizing: border-box;
      padding: 0.5em;
    }
  }
}

.NO_FILTERED_OBJECTS {
  margin: 0;
  width: 100%;
  text-align: center;
  border-radius: 0.1em;
  padding: 0.5em 0;
  background-color: rgba(black, 0.2);
}