.SearchFilter {
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  width: 100%;
  height: 3.5em;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
}

.SearchFilter p {
  font-size: 1.4em;
  text-indent: 1em;
  padding: 0.6em 0.8em 0.6em 0;
  border-right: 0.1em solid #aaa;
}

.SearchFilter input[type="text"] {
  font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
  color: #AAA;
  font-size: 1em;
  border-radius: 0.2em;
  padding: 0.6em 0.4em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  transition: all 0.2s ease-in-out;
}
.SearchFilter input[type="text"]:focus {
  color: white;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.SearchFilter input[type="text"]::placeholder {
  transition: all 0.1s ease-in-out;
}
.SearchFilter input[type="text"]:focus::placeholder {
  color: transparent;
}
.SearchFilterTools input[type="button"] {
  font-size: 1.2em;
  width: 1.9em;
  scale: 1;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 0 0.08em black inset;
  border-radius: 0.2em;
  filter: invert(5%) sepia(15%) saturate(876%) hue-rotate(355deg) brightness(96%) contrast(101%);
}
.SearchFilter input[type="button"]:hover {
  scale: 1.1;
  //box-shadow: none;
  filter: invert(84%) sepia(12%) saturate(3%) hue-rotate(321deg) brightness(82%) contrast(80%);
}

.SearchFilter .SearchFilterTools {
  width: 100%;
  padding: 0 1em;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  //justify-content: space-around;
}

.SearchFilter .FilterTool {
  background: url("../images/SearchFilterIcon.png") no-repeat center;
  background-size: cover;
  border: none;
}
.SearchFilter .ViewTool {
  background: url("../images/SearchViewIcon.png") no-repeat center;
  background-size: cover;
  border: none;
}

.SearchViewPanel {
  width: 100%;
  padding-bottom: 0.1em;
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-top: 0.2em rgba(0, 0, 0, 0.4) inset;
  border-bottom: 0.2em rgba(0, 0, 0, 0.4) inset;
  background-color: rgba(0, 0, 0, 0.4);

  max-height: initial;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
}
.SearchViewPanelH {
  height: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;

}
.SearchViewPanelV {
  height: 3em;
}

.SearchViewPanel input[type="button"] {
  font-size: 1.2em;
  width: 1.45em;
  scale: 1.2;
}
.SearchViewPanel input[type="button"]:hover {
  scale: 1.4;
  filter: invert(99%) sepia(1%) saturate(1722%) hue-rotate(245deg) brightness(128%) contrast(100%);
}

.SearchViewPanel .GridView {
  background: url("../images/GridViewIcon.png") no-repeat center;
  background-size: cover;
  border: none;
  filter: invert(71%) sepia(1%) saturate(1280%) hue-rotate(44deg) brightness(97%) contrast(90%);
  transition: all 0.1s ease-in-out;
}
.SearchViewPanel .ListView {
  background: url("../images/ListViewIcon.png") no-repeat center;
  background-size: cover;
  border: none;
  filter: invert(71%) sepia(1%) saturate(1280%) hue-rotate(44deg) brightness(97%) contrast(90%);
  transition: all 0.1s ease-in-out;
}

.SearchViewPanel .PartitionOn {
  background: url("../images/PartitionOn.png") no-repeat center;
  background-size: cover;
  border: none;
  filter: invert(71%) sepia(1%) saturate(1280%) hue-rotate(44deg) brightness(97%) contrast(90%);
  transition: all 0.1s ease-in-out;
}
.SearchViewPanel .PartitionOff {
  background: url("../images/PartitionOff.png") no-repeat center;
  background-size: cover;
  border: none;
  filter: invert(71%) sepia(1%) saturate(1280%) hue-rotate(44deg) brightness(97%) contrast(90%);
  transition: all 0.1s ease-in-out;
}

.SearchFilterPanel {
  width: 100%;
  height: auto;

  border-top: 0.2em rgba(0, 0, 0, 0.6) inset;
  border-bottom: 0.2em rgba(0, 0, 0, 0.4) inset;

  max-height: initial;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;

  .FilterContainer {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 2fr auto 3fr;
    background-color: rgba(0, 0, 0, 0.4);

    .FilterMenu {
      border-radius: 0.1em;
      background-color: rgba(255, 255, 255, 0.02);

      ul {
        list-style-type: none;
        padding-left: 1em;
      }
      ul li {
        margin: 0.4em 0;
      }
      ul li input[type="button"] {
        font-size: initial;
        width: 1em;
        height: 1em;
        border: none;
        filter: invert(71%) sepia(1%) saturate(1280%) hue-rotate(44deg) brightness(97%) contrast(90%);
      }
      .FilterOn {
        background: url("../images/CheckboxOnIcon.png") no-repeat center;
        background-size: cover;
      }
      .FilterOff {
        background: url("../images/CheckboxOffIcon.png") no-repeat center;
        background-size: cover;
      }

      .filtersReset {
        font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
        font-size: 1.2em;
        color: black;
        letter-spacing: 0.2em;
        font-weight: bold;
        width: 100%;
        height: 2em;
        border-bottom-left-radius: 0.1em;
        border-bottom-right-radius: 0.1em;
        border: none;
        left: 1em;
        background-color: #AAA;
      }
      .filtersReset:hover {
        color: red;
        background-color: white;
      }


    }
    hr {
      height: auto;
      margin: 0 0.4em;
      box-shadow: 0 0 0 0.2em #AAA inset;
    }
    .FilterValue {
      border-radius: 0.1em;
      background-color: rgba(255, 255, 255, 0.02);

    }
  }
}

.SearchFilterPanelV {
  height: auto;
}
.SearchFilterPanelH {
  height: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
}