@import "~@_styles";

.CONTENT_MODAL_WINDOW {
  position: fixed;
  text-decoration: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(4em, 1fr) auto minmax(2em, 1fr);
  justify-items: center;
  color: #AAA;
  overflow-y: auto;
  background-color: rgba(black, 0.5);
  cursor: pointer;
  z-index: 10;

  >hr {
    margin: 0;
    height: 100%;
    border: none;
    opacity: 0;
  }

  .MODAL_WINDOW_DATA {
    width: min(100%, max(60%, 30em));
    height: auto;
    box-sizing: border-box;
    border-radius: 0.05em;
    background-color: #2a1e16;
    transition: all 1s ease-in-out;
    cursor: auto;
  }
}