.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: 1fr auto 1fr;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.7);
   overflow-y: scroll;

   >hr {
      min-height: 4em;
      margin: 0;
      height: 100%;
      border: none;
      opacity: 0;
   }

   .modal-content {
      display: flex;
      flex-direction: column;
      margin-right: 2vw;
      width: 50em;
      box-sizing: border-box;
      padding: 1em;
      border-radius: 0.5em;
      background-color: #2a1e16;
      gap: 2.5em;

      .content-header {
         position: relative;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 0.4em 0;
         border-radius: 0.2em;
         background-color: rgba(black, 0.2);

         >p {
            position: absolute;
            left: 0.3em;
            width: 8em;
            margin: 0;
            padding: 0.1em 0;
            font-size: 1.2em;
         }

         >h2 {
            margin: 0;
            padding: 0.25em 0;
            font-size: 1.5em;
            gap: 1em;

            >span:nth-of-type(1) {
               color: #AAA;
            }
         }

         >button {
            position: absolute;
            right: 0.3em;
            box-sizing: border-box;
            padding: 0.5em;
            font-size: 1.2em;
            font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
            border: none;
            border-radius: 0.2em;
            color: #AAA;
            cursor: pointer;
            background-color: rgba(white, 0.05);
         }

         >button:hover {
            color: white;
            background-color: rgba(white, 0.15);
         }
      }

      .main-content {
         display: grid;
         grid-template-columns: 1fr 18em;
         gap: 1.5em;

         >div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.75em;

            >p {
               width: max-content;
               margin: 0;
               padding: 0.2em 0.4em;
               font-size: 1.4em;
               color: #AAA;
               border-radius: 0.2em;
               background-color: #3a3a3a;
            }

            >input {
               width: 100%;
               box-sizing: border-box;
               font-size: 1.4em;
               color: #d4d4d4;
               font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
               border-radius: 0.2em;
               text-indent: 0.4em;
               padding: 0.4em 0;
               border: none;
               outline: none;
            }

            >select {
               width: 100%;
               box-sizing: border-box;
               font-size: 1.4em;
               color: #ffffff;
               font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
               border-radius: 0.2em;
               text-indent: 0.4em;
               padding: 0.4em 0;
               border: none;
               outline: none;

               >option {
                  background-color: rgba(black, 0.8);
               }
            }
         }

         >div:nth-of-type(1) {
            grid-area: 1 / 1 / 2 / 2;

            >input {
               text-indent: 0;
               text-align: center;
            }
         }

         >div:nth-of-type(2) {
            grid-area: 2 / 1 / 3 / 2;
         }

         >div:nth-of-type(3) {
            grid-area: 3 / 1 / 4 / 2;
         }

         >div:nth-of-type(4) {
            grid-area: 4 / 1 / 5 / 2;
         }

         >div:nth-of-type(5) {
            grid-area: 1 / 2 / 4 / 3;
            display: flex;
            height: 100%;
            justify-content: center;
         }

         >div:nth-of-type(6) {
            grid-area: 4 / 2 / 5 / 3;
         }

         .profile-image {
            align-self: center;
            box-sizing: border-box;
            width: 100%;

            >img {
               width: 100%;
               border-radius: 0.2em;
            }
         }

      }

      .user-privileges {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 2em;

         .current-privileges,
         .available-privileges {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;

            >p {
               width: fit-content;
               margin: 0;
               padding: 0.2em 0.4em;
               font-size: 1.4em;
               color: #AAA;
               border-radius: 0.2em;
               background-color: #3a3a3a;
            }

            .current-privileges-list,
            .available-privileges-list {
               width: 100%;
               height: 100%;
               display: flex;
               flex-direction: column;
               align-items: center;
               border-radius: 0.3em;
               box-sizing: border-box;
               padding: 0.5em 0.4em;
               background-color: rgba(black, 0.4);
               gap: 0.5em;

               >p {
                  margin: 0;
                  width: 100%;
                  font-size: 1.4em;
                  color: #AAA;
                  text-align: center;
                  padding: 0.75em 0;
                  border-radius: 0.2em;
               }
            }
         }
      }

      .action-buttons {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         gap: 0.5em;

         >button {
            width: 100%;
            box-sizing: border-box;
            padding: 0.5em;
            font-size: 1.2em;
            font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
            border: none;
            border-radius: 0.2em;
            color: #AAA;
            cursor: pointer;
         }

         >button:hover {
            color: white;
            background-color: rgba(white, 0.15);
         }

         >button:nth-of-type(1) {
            grid-area: 1 / 1 / 2 / 2;
         }

         >button:nth-of-type(2) {
            grid-area: 1 / 2 / 2 / 3;
         }

         >button:nth-of-type(3) {
            grid-area: 2 / 1 / 3 / 3;
            background-color: rgba(white, 0.05);
         }
      }

      .action-button {
         width: 100%;
         box-sizing: border-box;
         padding: 0.5em;
         font-size: 1.2em;
         font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
         border: none;
         border-radius: 0.2em;
         color: #AAA;
         cursor: pointer;
      }

      .delete-button {
         width: 100%;
         box-sizing: border-box;
         padding: 0.5em;
         font-size: 1.2em;
         font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
         border: none;
         border-radius: 0.2em;
         color: #AAA;
         cursor: pointer;
         background-color: rgba(black, 0.8);
      }

   }
}

.modal-overlay:hover {
   cursor: pointer;

   .modal-content {
      cursor: default;
   }
}

.unavailable {
   user-select: none;
   cursor: not-allowed;
   background-color: rgba(white, 0.02);
}

.available {
   cursor: grab;
   background-color: rgba(white, 0.075);
}

.loading-image {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;

   >img {
      width: 14em;
   }
}

.activeInput {
   background-color: rgba(black, 0.4);
}

.disabledInput {
   // cursor: not-allowed;
   background-color: rgba(white, 0.05);
}

.current-user {
   color: #7c68ff;
}