.FILE_MANAGEMENT_PAGE_AVATARS {
  width: 50em;
  margin: 4em auto 2em auto;
  border-radius: 0.2em;

  .PageHeader {
    width: 100%;
    border-radius: 0.2em;
    background-color: rgba(black, 0.2);

    >p {
      margin: 0;
      font-size: 1.5em;
      text-align: center;
      padding: 0.5em 0;
    }
  }

  .DropFileField {
    position: relative;
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    background-color: rgba(black, 0.2);

    >label {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      font-size: 1.5em;
      text-align: center;
      padding: 2.5em 0;
      // background-color: red;
    }

    >input {
      width: 100%;
      padding: 5.75em 0;
      opacity: 0;
      // background-color: blue;
    }

    >button {
      position: absolute;
      font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
      font-size: 1.2em;
      width: 100%;
      bottom: 0;
      padding: 0.25em 0;
      border-radius: 0.2em;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }

  .StatusIndicators {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
    border-radius: 0.2em;
    background-color: rgba(black, 0.2);

    >div {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;

      >p {
        margin: 0;
        font-size: 1.2em;
      }
    }
  }

  .AvatarsList {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 15em));
    justify-content: center;
    gap: 1.5em;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 0.2em;
    background-color: rgba(black, 0.2);

    >a {
      width: 100%;
      height: 100%;
      text-decoration: none;

      .AvatarCard {
        position: relative;
        width: 100%;
        // height: 100%;
        color: #AAA;
        border-radius: 0.2em;
        background-color: rgba(black, 0.2);
        outline: 0.2em solid rgba(black, 1);
        transition: all 100ms ease-in-out;

        &:hover {
          color: white;
          outline: 0.2em solid rgba(white, 0.5);
          filter: brightness(1.5);
        }

        >img {
          width: 100%;
          height: 100%;
          border-radius: 0.2em;
          image-rendering: pixelated;
        }

        .AvatarStatusIndicators {
          position: absolute;
          top: 0.25em;
          right: 0.25em;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        }

        .DatabaseImagePreview {
          position: absolute;
          right: 0.25em;
          bottom: 0.25em;
          width: 2.5em;
          height: 2.5em;
          border-radius: 0.2em;
          outline: rgba(160, 0, 255, 1) solid 0.1em;
        }

        >caption {
          position: absolute;
          display: flex;
          justify-content: flex-start;
          left: 0.2em;
          bottom: 0;
          width: 100%;
          font-size: 1.2em;
          padding: 0.2em 0;

          >p {
            width: fit-content;
            margin: 0;
            padding: 0.2em 0.4em;
            border-radius: 0.2em;
            background-color: rgba(black, 0.8);
          }
        }
      }

      .SynchronizeImagesStorage {
        margin-top: 0.5em;
        width: 100%;
        // height: 100%;
        color: #AAA;
        padding: 0.5em 0;
        border: none;
        border-radius: 0.2em;
        font-size: 1em;
        font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
        background-color: rgba(black, 0.2);
        outline: #000000 solid 0.2em;
        cursor: pointer;
        transition: all 100ms ease-in-out;

        &:hover:not(:disabled) {
          color: white;
          outline: rgba(white, 0.5) solid 0.2em;
          background-color: rgba(white, 0.1);
          filter: brightness(1.5);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  // STATUS INDICATORS
  .Indicator {
    width: 1em;
    height: 1em;
    border-radius: 0.1em;
    outline: black solid 0.15em;
  }
  .Indicator.Server {
    background-color: rgba(0, 225, 255, 1);
  }
  .Indicator.Database {
    background-color: rgba(160, 0, 255, 1);
  }
}