.INTRODUCTION_PAGE {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  >div {
    width: 100%;
    height: 100%;

    scroll-snap-align: center;

    image-rendering: pixelated;
  }

  .WelcomeSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00ace6, #008fe6);

    .CloudsElement {
      position: absolute;
      top: 0;
      width: 100%;
      height: 15em;
      image-rendering: pixelated;
      will-change: transform;
      overflow: hidden;

      .Front {
        position: absolute;
        top: 0;
        left: -10vw;
        width: 120vw;
        height: 13em;
        background: url("../images/backgrounds/CloudsFront.png") repeat-x center;
        background-size: contain;
        animation: BackgroundCloudsAnim 160s linear infinite;
      }

      .Middle {
        position: absolute;
        top: 0;
        left: -10vw;
        width: 120vw;
        height: 17em;
        background: url("../images/backgrounds/CloudsMiddle.png") repeat-x center;
        background-size: contain;
        animation: BackgroundCloudsAnim 180s linear infinite;
      }

      .Back {
        position: absolute;
        top: 0;
        left: -10vw;
        width: 120vw;
        height: 11em;
        background: url("../images/backgrounds/CloudsBack.png") repeat-x center;
        background-size: contain;
        animation: BackgroundCloudsAnim 200s linear infinite;
      }

      @keyframes BackgroundCloudsAnim {
        0% {
          background-position: -110vw 0;
        }

        100% {
          background-position: 110vw 0;
        }
      }
    }

    .ProjectDescription {
      position: relative;
      width: 60%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;

      >div:first-child {
        box-sizing: border-box;
        padding: 1em;
        border: 0.1em solid white;
        border-radius: 0.2em;
        background-color: transparent;
        z-index: 2;

        p {
          color: white;
        }
      }

      .NavButtons {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 5fr;
        gap: 1em;

        button {
          width: 100%;
          color: white;
          font-size: 1em;
          font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
          padding: 0.5em 0;
          border-radius: 0.2em;
          border: 0.1em solid white;
          outline: none;
          background-color: transparent;
          transition: all 100ms ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: rgba(white, 0.1);
          }
        }
      }
    }

    .DetailsElement {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
      gap: 1em;
      z-index: 3;

      >img {
        width: 3em;
        height: 3em;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        animation: arrowAnimation 2.25s ease-in-out infinite;
      }

      @keyframes arrowAnimation {
        0% {
          transform: translateY(-1em);
        }

        50% {
          transform: translateY(1em);
        }

        100% {
          transform: translateY(-1em);
        }
      }

      >p {
        margin: 0;
        color: white;
        font-size: 1.2em;
        font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
      }
    }
  }

  .InGameContentSection {
    position: relative;
    background: linear-gradient(to bottom, #008fe6, #0061e6);
    z-index: 1;

    .MountainElement {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 150%;
      background: url("../images/backgrounds/Mountain.png") no-repeat bottom;
      background-size: cover;
      pointer-events: none;
    }
  }

  .CrowdfundingSection {
    background: url("../images/backgrounds/stone.png") repeat center;
    background-size: 8em;
  }
}