@import "../globalStyles";
.ObjectInfoPage {
  width: auto;
  display: grid;
  //justify-content: center;
  margin: 4em 9vw 0 9vw;
  background-color: transparent;
  grid-template-columns: auto minmax(auto, 65em) auto;

  .Content {
    //min-width: auto;
    //max-width: 65em;
    //margin: 0 auto;

    display: grid;
    grid-template-columns: 75% 25%;
    //grid-template-columns: minmax(auto, 75%) minmax(16em, 25%);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 0.8em;
    //grid-column-gap: 1em;
    align-items: start;

    .ObjectTitle {
      z-index: 3;
      grid-area: 1 / 1 / 2 / 3;
      border-radius: 0.2em;
      background-color: $elementBackgroundColor;
      display: grid;
      grid-template-columns: 4.5em auto 4.5em;
  
      > button:first-of-type {
        border-radius: 0.1em;
        font-size: 2em;
        color: #AAA;
        background: linear-gradient(to right, rgba(red, 0.2), transparent);
        border: none;
      }
      > button:first-of-type:hover {
        color: white;
        background: linear-gradient(to right, rgba(red, 0.4), transparent);
      }
      > div {
        display: flex;
        flex-direction: row;

        justify-content: center;
        > button {
          border: none;
          background-color: transparent;

          img {
            width: 2.5em;
            height: 2.5em;
            padding-left: 0.5em;
            filter: invert(84%) sepia(12%) saturate(3%) hue-rotate(321deg) brightness(82%) contrast(80%);  
          }
        }

      }
      > div > h2 {
        font-size: 1.5em;
        padding: 0.5em 0;
        margin: 0;
      }
      > button:last-of-type {
        width: 3.5em;
        height: 3.5em;
        border: none;
        border-radius: 0.2em;
        margin-right: 0.5em;
        align-self: center;
        justify-self: end;
        background-color: rgba(0, 0, 0, 0.2);
        
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
          width: 3.2em;
          height: 3.2em;
          filter: invert(45%) sepia(62%) saturate(6%) hue-rotate(70deg) brightness(89%) contrast(80%);
        }
      }
      > button:last-of-type:hover {
        filter: invert(84%) sepia(12%) saturate(3%) hue-rotate(321deg) brightness(82%) contrast(80%);
      }
    }

    .TextData {
      z-index: 3;
      grid-area: 2 / 1 / 4 / 2;
      position: relative;
      width: 98%;
      border-radius: 0.2em;
      justify-self: start;
      background-color: $elementBackgroundColor;

      .itemInfoLastUpd {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.7em;
        color: rgba(170, 170, 170, 0.5);
      }

      .descriptionData {

        .descriptionHeader {
          font-size: 1.4em;
          margin: 0;
          text-indent: 0.5em;
          padding-top: 0.6em;
        }
        p {
          margin: 0;
          text-align: justify;
          text-indent: 2em;
          padding: 0.25em 1.5em;
          line-height: 1.75em;
          white-space: pre-line;
        }

        .GeneralDescription {
          margin: 1em 0;
        }
        .AuthorialDescription {
          background-color: rgba(0, 0, 0, 0.2);
          overflow-y: hidden;
          transition: all 0.5s ease-in-out;
        }
        .AuthorialDescriptionIsActive {
          max-height: 20em;
        }
        .AuthorialDescriptionIsInactive {
          max-height: 0;
        }

        button {
          width: 100%;
          font-size: 1em;
          margin: 0;
          padding: 0;
          //border: solid #AAA 0.1em;
          border: solid 0.2em #221812;
          background-color: rgba(255, 255, 255, 0.02);

          > span {
            color: #AAA;
            display: inline-block;
            transition: all 0.5s ease-in-out;
          }
          .arrowIsActive {
            transform: rotateX(180deg);
          }
          .arrowIsInactive {
            transform: rotate(0deg);
            transform: translateX(-1em);
          }
        }
      }
    }

    .VisualData {
      z-index: 3;
      grid-area: 2 / 2 / 3 / 3;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-row-gap: 0.25em;

      width: 100%;
      border-radius: 0.2em;
      justify-self: end;
      //border-top: solid 0.1em #aaa;
      //border-right: solid 0.1em #aaa;
      //border-top-right-radius: 0.1em;

      .objectTabs {
        border-radius: 0.2em;
        border: none;
        width: auto;
        height: auto;
        background-color: $elementBackgroundColor;

        > img {
          padding-top: 0.2em;
          width: 40%;
          filter: invert(78%) sepia(7%) saturate(16%) hue-rotate(37deg) brightness(87%) contrast(89%);
        }
      }
      .objActiveTab {
        opacity: 1;
      }
      .objInactiveTab {
        opacity: 0.5;
      }
      .objUndefinedTab {
        background-color: rgba(#787878, 0.4);
      }
      .objTab1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-right: 0.35em;
      }
      .objTab2 {
        grid-area: 1 / 2 / 2 / 3;
        margin: 0 0.25em;
      }
      .objTab3 {
        grid-area: 1 / 3 / 2 / 4;
        margin-left: 0.35em;
      }


      .objectView {
        position: relative;
        grid-area: 2 / 1 / 3 / 4;
        padding: 0.5em;
        @include defaultBorderRadius;
        background-color: $elementBackgroundColor;

        // button {
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   width: 3em;
        //   height: 3em;
        //   margin-top: 0.25em;
        //   margin-right: 0.25em;
        //   border: none;
        //   background-image: url("../images/objects/ZoomIn.png");
        //   filter: invert(80%) sepia(10%) saturate(15%) hue-rotate(35deg) brightness(60%) contrast(90%);
        //   background-size: cover;
        //   opacity: 0;
        //   border-radius: 0.2em;
        //   background-color: rgba(255, 255, 255, 0.25);
        //   transition: all 0.1s ease-in-out;
        // }

        img {
          width: 100%;
          transition: all 0.1s ease-in-out;
        }
        img:hover {
          scale: 1.05;
          cursor: pointer;
        }
      }
      // .objectView:hover {

      //   button {
      //     opacity: 1;
      //   }
      //   button:hover {
      //     width: 3.5em;
      //     height: 3.5em;
      //     filter: invert(80%) sepia(10%) saturate(15%) hue-rotate(35deg) brightness(100%) contrast(90%);
      //   }
      // }
    }

    .DefinitionData {
      z-index: 3;
      grid-area: 3 / 2 / 4 / 3;
      @include elementBackgroundRadius;

      > div > h3 {
        text-align: center;
        margin: 0;
        padding: 0.25em 0;
        background-color: rgba(0, 0, 0, 0.2);
      }

      .ObjectType, .ObjectSubclass {

        // .ObjectTypeTitle {
        // }
        
        .ObjectTypeValue, .ObjectSubclassValue {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          text-align: center;
          

          margin: 0.25em 0.25em;
          border-radius: 0.2em;

          > img {
            padding-right: 0.5em;
            width: 1.5em;
            height: 1.5em;
            filter: invert(73%) sepia(2%) saturate(25%) hue-rotate(356deg) brightness(94%) contrast(86%);
          }


          > p {
            display: inline-block;
            margin: 0;
            padding: 0.5em 0;
          }
        }
        .ObjectTypeValue {
          background-color: #0099ff63;
        }

        .ObjectSubclassValue {
          background-color: #ff51008f;
        }

      }



      // h3 {
      //   margin: 0;
      //   padding: 0.5em 0;
      //   text-align: center;
      // }
      // > div {
      //   display: grid;
      //   grid-template-columns: 1.5em auto minmax(auto, 4em);
      //   align-items: center;
      //   padding: 0 0.25em;
      //   margin: 0.25em 0.25em;
      //   border-radius: 0.2em;
      //   background-color: rgba(183, 1, 32, 0.18);

      //   > div {
      //     width: 1.5em;
      //     justify-self: center;

      //     img {
      //       translate: 0 0.1em;
      //       width: 100%;
      //     }
      //   }

      //   p {
      //     color: white;
      //     margin: 0;
      //     padding: 0.7em 0;
      //     font-size: 0.9em;
      //   }
      //   p:first-of-type {
      //     text-indent: 0.5em;
      //     justify-self: start;
      //   }
      //   p:last-of-type {
      //     padding: 0.5em 0.2em 0.5em 0.35em;
      //     border-radius: 0.2em;
      //     background-color: rgba(175, 10, 40, 0.5);
      //     justify-self: end;
      //   }
      // }

    }
  }
}