// .LoginPageMain {
//   z-index: 0;
//   background-color: transparent;
//   width: 100vw;
//   height: 100vh;
//   border-radius: initial;
//   margin: 0;
//   padding: 0;


//   display:flex;
//   justify-content:center;
//   align-items:center;
// }

// #Login > fieldset {
//   position: relative;
//   border-radius: 0.1em;
//   width: 20em;
//   border: 0;
//   background-color: rgb(34, 24, 18);
//   margin-top: 1em;
// }

// #Login > fieldset > div:not(:last-of-type) {
//   margin-bottom: 1em;
// }

// #Login > fieldset > legend {
//   font-size: 1.4em;
//   text-align: center;
//   background-color: rgb(34, 24, 18);
//   padding: 1em;
//   border-radius: 0.1em;
// }

// .dataField {
//   position: relative;
//   box-sizing: border-box;
//   border-radius: 0.1em;
//   border: 0;
//   background-color: rgba(0, 0, 0, 0.2);
//   .floatingLabel {
//     position: absolute;
//     opacity: 1;
//     font-size: 1.2em;
//     top: 20px;
//     margin-left: 12px;
//     user-select: none;
//     pointer-events: none;
//     transition: all 0.1s ease-in-out;
//   }
//   .dataInput {
//     height: 60px;
//     box-sizing: border-box;
//     letter-spacing: 0.1em;
//     padding-left: 12px;
//     font-family: 'F77 Minecraft', PressStart2P-Regular;
//     color: #AAA;
//     font-size: 1.8em;
//     display: block;
//     margin: auto;
//     width: 100%;
//     background-color: transparent;
//     border: 0;
//     transition: font-size 0.1s ease-in-out, padding-top 0.1s ease-in-out,  padding-left 0.1s ease-in-out;
//   }
//   .dataInput:focus {
//     box-shadow: 0 0 0 0.07em rgba(#AAA, 0.8) inset;
//   }
//   .dataInput:focus, .dataInput:not(:placeholder-shown) {
//     outline: none;
//     border-radius: 0.1em;
//     font-size: 1.2em;
//     padding-top: 22px;
//     padding-left: 12px;
//   }
//   .dataInput:focus + .floatingLabel, .dataInput:not(:placeholder-shown) + .floatingLabel  {
//     opacity: 0.5;
//     font-size: 0.8em;
//     top: 8px;
//     margin-left: 12px;
//   }
// }

// #Login input[type="checkbox"] {
//   width: 18px;
//   height: 18px;
//   margin-right: 1em;
// }

// .externalAuthorization {
//   padding: 0 1em;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
//   grid-gap: 1em;

// }

// .gAuthorization {
  
//   width: 100%;
//   height: 3.4em;
//   border-radius: 0.1em;
//   background-color: white;
//   border: solid 0.1em white;
//   transform: scale(1);
//   cursor: pointer;
//   img {
//     width: 2.6em;
//     height: 2.6em;
//     padding-top: 0.2em;
//   }
// }

// .gAuthorization:active {
//   transform: scale(0.95);
// }

// .hr {
//   margin-top: 0.4em;
//   margin-bottom: 0.6em;
// }

// .dataSubmit {
//   display: block;
//   margin: auto;
//   width: 7em;
//   height: 2.5em;
//   font-family: 'F77 Minecraft', PressStart2P-Regular;
//   font-size: 1.2em;
//   background-color: transparent;
//   border: solid 0.1em #AAA;
//   color: #AAA;
//   transition: all 50ms ease-in-out;
//   transform: scale(1);
// }
// .dataSubmit:hover {
//   background-color: rgba(255, 255, 255, 0.1);
//   transform: scale(1.05);
// }
// .dataSubmit:active {
//   background-color: rgba(0, 0, 0, 0.1);
//   transform: scale(0.95);
// }



// .createAccountLabel, .canNotLogInLabel {
//   width: 100%;
//   display: block;
//   text-align: center;
//   font-size: 0.9em;
//   cursor: pointer;
//   color: #AAA;
// }
// .createAccountLabel {
//   margin-top: 1.8em;
//   margin-bottom: 1.4em;
// }
// .canNotLogInLabel {
//   margin-top: 1em;
//   margin-bottom: 0.2em;
// }
// .createAccountLabel:hover, .canNotLogInLabel:hover {
//   color: white;
// }

// .agreements {
//   font-size: 0.8em;
//   width: 100%;
// }
// .agreements a {
//   margin-top: 0.8em;
//   color: #AAA;
//   cursor: pointer;

// }
// .agreements a:first-child {
//   float: left;
//   margin-left: 1.5em;
// }
// .agreements a:last-child {
//   float: right;
//   margin-right: 1.5em;
// }
// .agreements label {
//   cursor: pointer;
// }
// .agreements label:hover {
//   color: white;
// }

// .checkboxSSI {
//   margin-bottom: 2em;
// }

// .errMsg {
//   text-align: justify;
//   width: 100%;
//   height: auto;
//   max-height: 5em;
//   transform: scaleY(1);
//   line-height: 1.25em;
//   position: initial;
//   display: block;
//   font-size: 0.8em;
//   letter-spacing: 0.05em;
//   color: red;
//   animation: anim 0.2s ease-in-out;
// }

// @keyframes anim {
//   0% {
//     max-height: 0;
//     transform: scaleY(0);
//   }
//   100% {
//     max-height: 5em;
//     transform: scaleY(1);
//   }
// }

// .msgSuccess {
//   font-size: 1.4em;
//   letter-spacing: 0.05em;
//   color: #AAA;
//   padding: 5em 3em;
//   background-color: #1b130e;
//   border-radius: 0.1em;
// }