.ObjectInfoPage {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 4em 10vw 0 10vw;
  background-color: transparent;

  .Content {
    min-width: auto;
    max-width: 65em;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
    //background-color: rgba(21, 167, 183, 0.8);

    .TextData {
      position: relative;
      width: 100%;
      float: left;
      padding: 0.1em 0.5em;
      border-radius: 0.2em;
      justify-self: start;
      background-color: rgba(0, 0, 0, 0.2);

      .itemTitle {
        margin: 0.6em 0.4em;
      }
      .itemInfoLastUpd {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.7em;
        color: rgba(170, 170, 170, 0.5);
      }

      .mainText {
        margin: 0.5em 1.5em;
        text-indent: 2em;
        line-height: 1.5em;
      }
    }

    .VisualData {
      width: auto;
      margin-left: 2em;
      border-radius: 0.2em;
      justify-self: end;
      background-color: rgba(0, 0, 0, 0.2);
      //border-top: solid 0.1em #aaa;
      //border-right: solid 0.1em #aaa;
      //border-top-right-radius: 0.1em;

      .ItemCover {
        padding: 0.5em;

        img {
          width: 100%;
          //box-shadow: 0 0 0 0.1em;
        }
      }
    }
  }
}

//.Definition {
//  box-shadow: 0 0 0 0.1em inset;
//  border-bottom-left-radius: 0.1em;
//  border-bottom-right-radius: 0.1em;
//}

/*.Definition hr {
	width: auto;
}

.Definition p {
	margin: 0;
	padding: 0.3em;
}
.Definition p:first-child {
	padding-top: 0.6em;
}
.Definition p:last-child {
	padding-bottom: 0.4em;
}*/