@import "../styles";

.SIGN_UP_PAGE {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .authMessage {
    width: 24em;
    > p {
      margin: 0;
      letter-spacing: 0.1em;
      line-height: 1.2em;
      padding: 2.5em 0;
      text-align: center;
      background-color: rgba(black, 0.2);
    }
  }

  form {
    fieldset {
      padding: 0.5em;
      position: relative;
      width: 18em;
      border: none;
      border-radius: 0.2em;
      background-color: #19120d;

      > legend {
        text-align: center;
        font-size: 1.2em;
        padding: 0.5em;
        border-radius: 0.2em;
        background-color: #19120d;
      }

      .dataProcessing {
        width: calc(100% - 1em);
        height: calc(100% - 5em);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        > img {
          width: 8em;
        }
        > p {
          margin: 0;
          font-size: 1.4em;
        }
      }
      

      .formFields {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        transition: all 0.1s ease-in-out;

        .dataField {
          margin: 0.25em 0;
  
          > p {
            margin: 0;
            color: rgb(255, 0, 0);
            font-size: 0.9em;
            text-align: justify;
            letter-spacing: 0.05em;
            transition: all 0.1s ease-in-out;
            overflow-y: hidden;
          }
  
  
          .inputField {
            width: 100%;
            position: relative;
    
            > label {
              position: absolute;
              top: 0.5em;
              left: 0;
              font-size: 1.25em;
              padding-left: 0.25em;
              user-select: none;
              pointer-events: none;
              transition: all 0.1s ease-in-out;
    
              > span {
                position: absolute;
                color: red;
                padding-left: 0.2em;
                margin-top: -0.02em;
                margin-left: 0.1em;
                transform: rotate(-50deg);
              }
            }
    
            > input {
              @include defaultFontFamily;
              width: 100%;
              height: 50px;
              color: white;
              font-size: 1.5em;
              padding-left: 0.4em;
              border: none;
              border-radius: 0.1em;
              box-sizing: border-box;
              background-color: rgba(black, 0.2);
              outline: none;
              transition: all 0.1s ease-in-out;
            }
            > input:focus {
              box-shadow: 0 0 0 0.1em rgba(#AAA, 0.8);
            }
            > input:focus, input:not(:placeholder-shown) {
              font-size: 1em;
              padding-top: 1em;
            }
            input:focus ~ label, input:not(:placeholder-shown) ~ label {
              font-size: 0.8em;
              top: 0.2em;
              left: 0.1em;
              opacity: 0.8;
            }
    
            .datePicker {
              //
              padding-right: 0.25em;
              //
              color: #AAA;
            }
            > input[type="date"]::-webkit-calendar-picker-indicator {
              filter: invert(71%) sepia(1%) saturate(1280%) hue-rotate(44deg) brightness(97%) contrast(90%);
            }
          }  
        }
        .dataSubmit {
          width: 100%;
          margin: 0.2em 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
  
          > input {
            @include defaultFontFamily;
            padding: 0.5em 1em;
            font-size: 1.2em;
            color: white;
            border: 0.1em solid #AAA;
            border-radius: 0.1em;
            cursor: pointer;
            background-color: rgba(white, 0.02);
            transition: all 0.1s ease-in-out;
          }
          > input:hover {
            scale: 1.025;
            background-color: rgba(white, 0.05);
          }
          > input:active {
            scale: 0.975;
            background-color: rgba(white, 0.02);
          }
        }
        .agreements {
          width: inherit;
      
          > p:first-child {
            margin: 0;
            color: rgb(255, 0, 0);
            font-size: 0.9em;
            text-align: justify;
            letter-spacing: 0.05em;
            transition: all 0.1s ease-in-out;
            overflow-y: hidden;
          }
          > p:last-child {
            margin: 0.2em 0;
            text-align: justify;
            letter-spacing: 0.05em;
            line-height: 1.1em;
            user-select: none;
            cursor: pointer;
  
            > input {
              width: 1em;
              height: 1em;
              font-size: initial;
              margin-right: 1em;
              border: none;
              cursor: pointer;
              filter: invert(71%) sepia(1%) saturate(1280%) hue-rotate(44deg) brightness(97%) contrast(90%);
            }
    
            > span {
              font-size: 0.9em;
              // font-weight: bold;
              color: white;
              text-decoration: underline 0.1em;
              cursor: pointer;
              letter-spacing: 0.15em;
            }
          }
        }
        > a {
          width: 100%;
          color: #AAA;
          text-align: center;
          padding: 0.5em 0;
        }  
        > hr {
          width: 100%;
          margin: 0.25em 0;
        }
        .externalAuthorization {
          margin: 0;
          padding: 0 1em;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
          grid-gap: 1em;
  
          .gAuthorization {
            width: 100%;
            height: 3.4em;
            border-radius: 0.1em;
            background-color: white;
            border: solid 0.1em white;
            transform: scale(1);
            cursor: pointer;
            > img {
              width: 2.6em;
              height: 2.6em;
              padding-top: 0.2em;
            }
          }
          .gAuthorization:active {
            transform: scale(0.95);
          }
        }
      }  
    }
  }
}

.FilterOptionOn {
  background: url("../images/CheckboxOnIcon.png") no-repeat center;
  background-size: cover;
}
.FilterOptionOff {
  background: url("../images/CheckboxOffIcon.png") no-repeat center;
  background-size: cover;
}