/*@import url('https://fontstruct.com/fontstructions/show/1500385/f77-minecraft');*/

html {
    font-family: 'F77 Minecraft', PressStart2P-Regular;
    font-size: 1.2em;
    background-color: rgba(#2a1e16, 1);
    margin: 0;
    /*cursor: url("https://www.shareicon.net/data/128x128/2016/07/22/799964_arrows_512x512.png"), pointer;*/
}

body {
    margin: 0;
    color: #AAA;
/*    background-color: rgba(0, 0, 0, 0.4);*/    
    border-radius: 0.2em;
/*    margin: 10vh auto;
    max-width: 80em;
    min-width: 70vw;*/
/*    height: 70em;*/
}

main {
    width: 65em;
    margin: 4em auto 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
    /*    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;*/
}

@font-face {
    font-family: 'F77 Minecraft';
    src: url('../../fonts/F77 Minecraft.ttf');
}

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../../fonts/PressStart2P-Regular.ttf');
}

::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-button {
    background-color: transparent;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 13em 0em 0em 13em;
}

::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
    border-radius: 1.5em 0.7em 0.7em 1.5em;
    border: 0.3em solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    display: none;
}

/*@font-face {
    font-family: 'Cascadia Mono', sans-serif;
}*/
