#MainImg {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    position: absolute;
    z-index: 0;
}
#LogoContainer {

    width: 100%;
    display: flex;
    position: absolute;
    #GameLogo {
        transform: translateX(0) rotate(0);
        margin: 6vh auto;
        background-attachment: fixed;
        width: 40vw;
        z-index: 2;
        animation: GameLogoDynamicAnim 10s linear infinite;
    }
}

@keyframes GameLogoDynamicAnim {
    0% {
        transform: translateY(0) rotate(0);
    }
    25% {
        transform: translateY(0.8vh) rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: translateY(-0.8vh) rotate(-2deg);
    }
    100% {
        transform: translateY(0vh) rotate(0);
    }
}

#JuridInfo {
    position: fixed;
    display: flex;
    bottom: 0;
    margin-bottom: 0;
    z-index: 3;
    background-color: rgba(20, 20, 20, 0.8);
    width: 100%;
    padding: 0.4em;
    vertical-align: middle;
}

#LandingPage {
    overflow: hidden;
    text-align: center;
    font-size: 1.4em;

    #BeginText {
        overflow: scroll;
    }

    p {
        height: 26vh;
        padding: 2vh 2vh 0 6vh;
        text-align: justify;
    }

    #Content {
        overflow-x: hidden;
        z-index: 3;
        position: relative;
        background: radial-gradient(at 50% 0%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        border-radius: 0.2em;
        margin: 30vh auto 0 auto;
        width: 60vw;
        height: 30vw;
        line-height: 1.2em;
        text-indent: 2em;
        letter-spacing: 0.1em;
        word-spacing: 0.05em;
    }



    :first-letter {
        text-transform: uppercase;
    }

    .beginButton {
        bottom: 0vh;
        position: relative;
        color: #aaa;
        font-size: 1.2em;
        border: solid 0.1em #aaa;
        border-radius: 0.05em;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0.2em 0.4em;
        z-index: 3;
    }

    .beginButton:hover {
        cursor: pointer;
    }
}

#HomePage {
    #IntroSlider {

    }
}