$cardSize: 6em;

.CardOfItem { 
    width: $cardSize;
    height: $cardSize;
    background-color: transparent;
    border-radius: 0.1em;
    position: relative;
    padding: 0.7em 1em 1.3em 1em;
}

.CardOfItem:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.Card {
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 0.7em;
    border-radius: 0.2em;
    transition: background-color 0.15s ease;
}

.LinkStyle {
    text-decoration: none;
}

img {
    width: 90%;
}
//
figcaption {
    width: 100%;
    color: #AAA;
    justify-content: center;
}


.ParallaxEffectCard {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;

    .ParallaxEffectItem {
        scale: 1;
        transform: translateZ(0px);
        transition: all 0.3s ease-in-out;
    }
    .ParallaxEffectTitle {
        scale: 0.9;
        transform: translateZ(0px);
        transition: all 0.3s ease-in-out;
    }
}

.ParallaxEffectCard:hover {
    .ParallaxEffectItem {
        scale: 1.1;
        transform: translateZ(50px);
    }
    .ParallaxEffectTitle {
        scale: 1;
        transform: translateZ(60px);
    }
}


.ParallaxEffectSword {

    transform-style: preserve-3d;
    
    .ParallaxEffectSword {
        display: block;
        position: fixed;
    }
}