#Slider {
    background-color: #2a1e16;
    max-width: 100%;
    height: 40vw;
    /*    border-radius: 0.1em;*/
    box-shadow: 0 0 0 0.1em red inset;
}

#Slider img {
    width: 100%;
    height: 100%;
    /*background-size: 30vh;*/
/*    border-radius: 0.2em;*/
    /*box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);*/
    animation: slider 2s ease infinite;
}

@keyframes slider {
    0% {
        // background: url(Slide.png);
        background-size: contain;
    }
    100% {
        // background: url('Slide.png');
        background-size: contain;
    }
}