$generalBackgroundColor: #2a1e16;
$elementBackgroundColor: #221812;
$borderRadius: 0.2em;

@mixin defaultBorderRadius {
  border-radius: $borderRadius;
}

@mixin elementBackgroundRadius {
  background-color: $elementBackgroundColor;
  border-radius: $borderRadius;
}

@mixin SearchLineStyle {

    > input[type="text"] {
      width: 90%;
      font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
      color: #AAA;
      font-size: 1em;
      border-radius: 0.2em;
      padding: 0.6em 0.4em;
      border: 0;
      transition: all 0.25s ease-in-out;
    }
    > input[type="text"]:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.2);
    }
    > input[type="text"]:disabled {
      background-color: rgba(lightgray, 0.4);
    }
    > input[type="text"]:focus {
      color: white;
      border: none;
      outline: none;
      background-color: rgba(0, 0, 0, 0.4);
    }
    > input[type="text"]:focus::placeholder {
      color: transparent;
    }
}