html {
  color: #AAA;
  font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
  font-size: 1.2em;
  /*cursor: url("https://www.shareicon.net/data/128x128/2016/07/22/799964_arrows_512x512.png"), pointer;*/
}
/* html::-webkit-scrollbar {
  display: none;
} */

body {
  margin: 0;
  padding: 0 calc(2vw - (100vw - 100%)) 0 0;
  background-color: #2a1e16;
}
/* body::-webkit-scrollbar {
  display: none;
} */


/* ::-webkit-scrollbar {
  width: auto;
}


/* ::-webkit-scrollbar-button {
  display: none;
} */

::-webkit-scrollbar-track {
  background-color: #AAA;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.1em;
  background-color: white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
} */

/* ::-webkit-scrollbar-corner {
  display: none;
} */

::selection {
  background: #AAA;
  color: #1c0f00;
}

@font-face {
  font-family: 'F77 Minecraft';
  src: url('./fonts/F77 Minecraft.ttf');
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('./fonts/PressStart2P-Regular.ttf');
}