html {
  color: #AAA;
  font-family: 'F77 Minecraft', PressStart2P-Regular, 'Cascadia Mono', sans-serif;
  font-size: 1.2em;
  /*cursor: url("https://www.shareicon.net/data/128x128/2016/07/22/799964_arrows_512x512.png"), pointer;*/
}

body {
  margin: 0;
  background-color: #2a1e16;
}

::-webkit-scrollbar {
  width: auto;
}


::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.1em;
  background-color: #AAAAAA;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

::-webkit-scrollbar-corner {
  display: none;
}

@font-face {
  font-family: 'F77 Minecraft';
  src: url('./fonts/F77 Minecraft.ttf');
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('./fonts/PressStart2P-Regular.ttf');
}