.NAVBAR {
   position: fixed;
   width: auto;
   margin: 0 auto;
   top: 0.2em;
   left: 0.2em;
   right: 0.2em;
   border-radius: 0.2em;
   background-color: rgba(black, 0.2);
   z-index: 100;
   padding: 0 0.75em;
   backdrop-filter: blur(0.2em);
   // opacity: 0.8;
   transition: all 0.2s ease;

   #GameIcon {
      width: 2em;
      scale: 1.1;
      transform: translateY(0.05em);
   }

   .FullyNavContainer {
      height: 2.5em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;   

      >a {
         position: relative;
         text-decoration: none;

         .AccountContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.2em;
            border-radius: 0.2em;
            background-color: transparent;
            padding-left: 0.25em;
            padding-right: 0.75em;
            transition: all 0.1s ease;
   
            >p {
               margin: 0;
               font-size: 1.1em;
               color: #AAA;
            }
   
            >img {
               scale: 1.4;
               margin-right: 0.5em;
               clip-path: polygon(28% 0%, 72% 0%, 100% 28%, 100% 72%, 72% 100%, 28% 100%, 0% 72%, 0% 28%);
               filter: invert(73%) sepia(0%) saturate(2455%) hue-rotate(195deg) brightness(93%) contrast(89%);
            }
         }
         .AccountContainer:hover {
            background-color: #2a1e16;
         }   

         .HomeLink {
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            background-color: transparent;
            height: 2.2em;
            border-radius: 0.2em;
            padding: 0 0.75em 0 0;
            min-width: 5em;
            transition: all 0.1s ease;

            img {
               max-width: 2.5em;
               transform: translateY(-0.1em);
               filter: invert(73%) sepia(0%) saturate(2455%) hue-rotate(195deg) brightness(93%) contrast(89%);
            }

            >p {
               margin: 0;
               font-size: 1.1em;
               color: #AAA;
            }
         }

         .HomeLink:hover {
            background-color: #2a1e16;
         }

         .LinkContainer {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.2em;
            border-radius: 0.2em;
            min-width: 9.2em;
            justify-content: space-between;
            transition: all 0.1s ease-in-out;

            #profileIcon {
               clip-path: polygon(28% 0%, 72% 0%, 100% 28%, 100% 72%, 72% 100%, 28% 100%, 0% 72%, 0% 28%);
               transition: all 0s ease-in-out;
               filter: none;
            }

            >div {
               display: flex;
               flex-direction: row;
               align-items: center;
               box-sizing: border-box;
            }

            >div:nth-of-type(1) {
               position: relative;
               flex-grow: 1;
               padding: 0;
               display: flex;
               align-items: center;
               justify-content: center;

               img {
                  scale: 1.2;
                  max-width: 3em;
                  transform: translateX(-0.4em);
                  transition: all 0.05s ease-in-out;
                  filter: invert(73%) sepia(0%) saturate(2455%) hue-rotate(195deg) brightness(93%) contrast(89%);
               }

               >p {
                  transform: translateY(0em);
                  margin: 0;
                  font-size: 1.1em;
                  color: #AAA;
               }
            }

            >div:nth-of-type(2) {
               box-sizing: border-box;
               flex-grow: 0;
               flex-basis: 0;
               height: 100%;
               border-radius: 0 0.2em 0.2em 0;
               transition: all 0.1s ease-in-out;
               box-shadow: -0.1em 0 0 #221812;
               width: 0;
               padding: 0;
               transform: scaleX(0);

               >p {
                  margin: 0;
                  transition: all 0.1s ease-in-out;
               }
            }

            div>img {
               width: 1.8em;
            }
         }

         .LinkContainer:hover {
            background-color: #2a1e16;

            >div:nth-of-type(1) {
               padding: 0 0.5em 0 0.75em;

               >img {
                  max-width: 0;
               }
            }

            >div:nth-of-type(2) {
               padding: 0 0.5em;
               transform: scaleX(1);
               width: auto;
               box-shadow: -0.1em 0 0 rgba(black, 0.2);
            }
         }
      }
   }

   .ShortyNavContainer {
      height: 2.5em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;

      >a {
         text-decoration: none;

         #homeId {
            >img {
               scale: 1.2;
               transform: translateY(-0.1em);
            }
         }

         #loginId {
            >img {
               scale: 1.4;
            }
         }

         .ShortyLinkButton {
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            background-color: transparent;
            height: 2.2em;
            border-radius: 0.2em;
            transition: all 0.1s ease;
            padding: 0 1em;

            img:not(#profileIcon) {
               width: 2.25em;
               filter: invert(73%) sepia(0%) saturate(2455%) hue-rotate(195deg) brightness(93%) contrast(89%);
            }

            #profileIcon {
               width: 2em;
               clip-path: polygon(28% 0%, 72% 0%, 100% 28%, 100% 72%, 72% 100%, 28% 100%, 0% 72%, 0% 28%);
            }
         }
         .ShortyLinkButton:hover {
            background-color: #2a1e16;
         }
      }

      .ShortySubMenu {
         position: absolute;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         top: 98%;
         left: 0.5em;
         right: 0.5em;
         width: auto;

         >a {
            margin-top: 0.25em;
            width: 100%;
            text-decoration: none;

            >div {
               box-sizing: border-box;
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 100%;
               padding: 0.25em 0.25em;               border-radius: 0.2em;
               background-color: #110c09;
      
               >p {
                  width: 100%;
                  margin: 0;
                  text-align: center;
                  padding: 0.75em 0.5em;
                  border: 0.1em solid black;
                  font-size: 1em;
                  border-radius: 0.2em;
                  color: #AAA;
                  transition: all 0.1s ease;
               }
            }
            >div:hover {

               >p {
                  color: white;
                  background-color: #2a1e16;
               }
            }
         }

      }
   }
}

.subMenuLayout {

   .subMenu {
      padding-top: 0.35em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0.2em;

      >a {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-decoration: none;
         margin: 0.05em;

         >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            padding: 0.2em 0.2em;
            border-radius: 0.2em;
            background-color: #110c09;

            >p {
               width: 100%;
               margin: 0;
               font-size: 1em;
               padding: 0.5em 0.25em 0.5em 0.75em;
               line-height: 1.25em;
               border: 0.1em solid black;
               color: white;
               border-radius: 0.2em;
               transition: all 0.2s ease-in-out;
            }
         }
      }

      >a:hover>div>p {
         color: white;
         background-color: #2a1e16;
      }
   }
}

.ActiveLinkContainer {
   background-color: #2a1e16;
}

// .InactiveLinkContainer {
//    background-color: transparent;
// }

.ActiveArrowButton {
   background-color: rgba(white, 0.05);
   // transform: scaleX(1);

   >p {
      color: white;
      transform: rotate(0deg);
   }
}

.InactiveArrowButton {
   >p {
      color: #AAA;
      transform: rotate(-90deg);
   }
}

.NAVBAR:hover, .NAVBAR_Active {
   opacity: 1;
   background-color: rgba(black, 0.6);
}