.NAVBAR {
   position: fixed;
   width: auto;
   height: 2.5em;
   margin: 0 auto;
   top: 0.2em;
   left: 0.2em;
   right: 0.2em;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   border-radius: 0.2em;
   background-color: rgba(black, 0.2);
   z-index: 100;
   padding: 0 0.75em;
   backdrop-filter: blur(0.1em);

   >a {
      text-decoration: none;

      #GameIcon {
         width: 2em;
      }

      .HomeLink {
         display: flex;
         align-items: center;
         background-color: #2a1e16;
         height: 2.2em;
         border-radius: 0.2em;
         padding: 0 1em;

         >p {
            margin: 0;
            font-size: 1.1em;
            color: #AAA;
         }
      }

      .AccountContainer {
         display: flex;
         flex-direction: row;
         align-items: center;
         height: 2.2em;
         border-radius: 0.2em;
         background-color: #2a1e16;
         padding-left: 0.75em;
         padding-right: 0.25em;

         >p {
            margin: 0;
            font-size: 1.1em;
            color: #AAA;
         }

         >img {
            margin-left: 0.5em;
            clip-path: polygon(28% 0%, 72% 0%, 100% 28%, 100% 72%, 72% 100%, 28% 100%, 0% 72%, 0% 28%);
         }
      }

      .LinkContainer {
         box-sizing: border-box;
         display: flex;
         flex-direction: row;
         align-items: center;
         background-color: #2a1e16;
         height: 2.2em;
         border-radius: 0.2em;
         min-width: 8em;
         justify-content: space-between;

         >div {
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
         }

         >div:first-of-type {
            flex-grow: 1;
            padding-left: 0.75em;
            padding-right: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;

            >p {
               margin: 0;
               font-size: 1.1em;
               color: #AAA;
            }
         }

         >div:last-of-type {
            flex-grow: 0;
            padding: 0 0.5em;
            height: 100%;
            border-radius: 0 0.2em 0.2em 0;

            >p {
               margin: 0;
               color: #AAA;
               transform: rotate(-90deg);
            }
         }

         >div:last-of-type:hover {
            background-color: rgba(white, 0.05);

            >p {
               transform: rotate(0deg);
            }
         }


         div>img {
            width: 1.8em;
         }
      }

      .LinkContainer:hover {

         >div:last-of-type {
            box-shadow: -0.1em 0 0 rgba(black, 0.2);
         }
      }
   }
}

.subMenuLayout {

   .subMenu {
      padding-top: 0.25em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0.2em;

      >a {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-decoration: none;
         margin: 0.05em;

         >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            padding: 0.2em 0;
            border-radius: 0.2em;
            background-color: rgba(black, 0.6);

            >p {
               width: 95%;
               margin: 0;
               font-size: 1em;
               text-indent: 0.25em;
               padding: 0.5em 0;
               color: #AAA;
               border-radius: 0.2em;
               transition: all 0.2s ease-in-out;
            }
         }
      }

      >a:hover>div>p {
         color: white;
         background-color: #2a1e16;
      }

   }
}