// $NavHeight: 2.5em;

// nav {
//     left: 0.2em;
//     right: 0.2em;
//     top: 0.3em;
//     margin: 0 auto;
//     font-size: 1.1em;
//     position: fixed;
//     display: block;
//     width: auto;
//     height: $NavHeight;
//     background-color: rgba(0, 0, 0, 0.2);
//     border-radius: 0.25em;
//     transition: background-color 0.2s ease;
//     backdrop-filter: blur(0.1em);
//     z-index: 5;
// }

// nav:hover {
//     background-color: rgba(0, 0, 0, 0.6);
// }

// .navInAction {
//     background-color: rgba(0, 0, 0, 0.6);
// }

// nav div {
//     display: inline-block;
// }

// #GameIcon {
//     margin: 0 0.5em;
//     padding: 0.15em;
//     width: 2.20em;
//     height: 2.20em;
//     display: inline-block;
//     float: left;
// }

// .Account {
//     position: relative;
//     height: 2.5em;
//     margin-right: 0.5em;
//     width: auto;
//     float: right;
//     border-radius: 0.25em;
//     transform: scale(0.95);
//     display: inline-block;
//     scale: 0.9;
//     transition: all 0.2s ease-in-out;
// }

// .Account a {
//     text-decoration: none;
//     color: #AAA;
// }

// .Account:hover {
//     transform: scale(1.05);
//     background-color: #2a1e16;
// }
// .Account:hover .ProfileName {
//     color: white;
// }

// .ProfileContainer {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
// }

// .ProfileIconContainer {
//     width: 2.35em;
//     translate: 0 0.08em;
//     margin-right: 0.25em;
// }

// .ProfileContainer img {
//     width: 100%;
//     //border-radius: 1em;
//     clip-path: polygon(28% 0%, 72% 0%, 100% 28%, 100% 72%, 72% 100%, 28% 100%, 0% 72%, 0% 28%);}

// .ProfileName {
//     padding: 0.5em;
//     cursor: pointer;
//     margin: 0;
//     translate: 0 0.1em;
// }

// .AuthorizationImg {
//     height: 1.75em;
//     width: 1.75em;
//     padding: 0.4em;
// }

// .LinksGroup {
//     display: grid;
//     grid-template-columns: auto auto;
// }


// .leftSide, .rightSide {
//     display: grid;
//     align-items: center;
// }
// .leftSide {
//     grid-template-columns: auto auto auto;
//     justify-items: start;
// }

// .rightSide {
//     grid-template-columns: auto auto;
//     justify-items: end;
// }

// .singleLink {
//     padding: 0.7em 1em;
// }

// .LinkButtonContainer {
//     color: #AAA;
//     border-radius: 0.25em;
//     transform: scale(0.85);
//     transition: transform 0.2s ease;
//     cursor: pointer;
//     z-index: 2;
// }

// .LinkButtonContainer:hover {
//     color: white;
//     transform: scale(0.95);
//     background-color: #2a1e16;
// }

// .LinkButtonContainer > a {
//     color: #AAAAAA;
//     text-decoration: none;
// }

// .LinkButtonContainer:hover > a {
//     color: white;
// }

// .LinkButtonContainer:active {
//     transform: scale(0.85);
//     background-color: #261b13;
//     transition: all 50ms ease-in-out;
// }

// .LinkButtonContainerInAction {
//     color: white;
//     transform: scale(0.95);
//     background-color: #2a1e16;
// }

// .linkButton {
//     padding: 0.7em 0.4em 0.7em 0.8em;
// }

// .submenuButton {
//     box-sizing: border-box;
//     padding: 0.7em 0.5em;
//     border-top-right-radius: 0.25em;
//     border-bottom-right-radius: 0.25em;
//     border-left: 0.1em solid transparent;
//     opacity: 0;
//     transform: scaleX(1);
//     transition: all 0.2s ease-in-out;

// }

// .submenuButtonInAction {
//     padding: 0.7em 0.5em;
//     border-left-color: #19120d;
//     opacity: 1;
// }

// .LinkButtonContainer:hover .submenuButton {
//     padding: 0.7em 0.5em;
//     border-left-color: #19120d;
//     opacity: 1;
// }

// /*.LinkButtonContainer:hover .submenuButton:hover {
//     background-color: rgba(255, 255, 255, 0.05);
// }*/

// .Arrow {
//     transform: scaleX(1) translate(0.1em, -0.05em) rotate(-90deg);
//     transition: all 0.15s ease-in-out;
// }

// .LinkButtonContainer:hover .submenuButton:hover .Arrow {
//     transform: scaleX(1) translate(0.02em, 0.1em) rotate(0deg);
// }

// .ArrowInAction {
//     transform: scaleX(1) translate(0.02em, 0.1em) rotate(0deg);
// }

// .subMenuLayout {
//     padding-top: 0.15em;
//     background-color: transparent; //#19120DFF
//     border-bottom-left-radius: 0.25em;
//     border-bottom-right-radius: 0.25em;
//     z-index: 1;
// }

// /*.subMenuLayout:hover .subMenu {
//     background-color: rgba(0, 0, 0, 0.4);
// }*/

// .subMenu {
//     font-size: 0.8em;
//     box-sizing: border-box;
//     //background-color: rgba(0, 0, 0, 0.2);
//     border-bottom-left-radius: 0.25em;
//     border-bottom-right-radius: 0.25em;
//     //padding: 0.2em 0.6em;
//     padding: 0.2em 0;
//     //backdrop-filter: blur(0.1em);
// }

// .subMenu div {
//     color: #AAA;
//     padding: 0.04em 0.2em;
//     margin: 0.2em 0;
//     border-radius: 0.25em;
//     text-indent: 0.4em;
//     background-color: rgba(0, 0, 0, 0.6);
//     transition: all 0.2s ease-in-out;
// }

// .subMenu div div {
//     color: #AAA;
//     padding-top: 0.6em;
//     padding-bottom: 0.6em;
//     border-radius: 0.25em;
//     text-indent: 0.4em;
//     transition: all 0.2s ease-in-out;
//     scale: 0.95;
//     background-color: transparent;
// }

// .subMenu div div:hover {
//     scale: 1.01 1.1;
//     background-color: #2a1e16;
//     color: white;
// }

// .subMenu a {
//     text-decoration: none;
// }